<template>
  <div class="q-pa-md" style="margin:10px;">
    <div class="q-gutter-y-md column">
      <div id="app">
          <h1>Bitcoin</h1>
          <h2>Hoje</h2>
          <div class="row">
            <div class="col-4">
              <div class="quadrado">
                <p> Volume Total de Venda: {{ orderbook.venda.total.toLocaleString('pt-BR') }} BTC</p>
                <p> Volume Total de Compra: {{ orderbook.compra.total.toLocaleString('pt-BR') }} BTC</p>
                <p>Total Vendas: R$ {{ orderbook.compra.reais.toLocaleString('pt-BR') }}</p>
                <p>Total Compras: R$ {{ orderbook.venda.reais.toLocaleString('pt-BR') }}</p>
              </div>
            </div>
            <div class="col-4">
              <div class="quadrado">
                <p> Total 20 compras: {{ parseFloat(orderbook.compra.total20).toLocaleString('pt-BR') }} BTC</p>
                <p> Total 20 vendas: {{ parseFloat(orderbook.venda.total20).toLocaleString('pt-BR') }} BTC</p>
                <p> Possivel ganho: {{ (((orderbook.venda.ultimo*100) / orderbook.compra.ultimo) - 100).toLocaleString('pt-BR') }}%</p>
                <p> Valor Ultima Negociação R$ {{ parseFloat(ticker.ultimo).toLocaleString('pt-BR') }}</p>
              </div>
            </div>
            <div class="col-4">
              <div class="quadrado">
                <p>Maior venda do dia: R$ {{ parseFloat(ticker.high).toLocaleString('pt-BR') }}</p>
                <p>Menor venda do dia: R$ {{ parseFloat(ticker.low).toLocaleString('pt-BR') }}</p>
                <p>Oscilação: {{ ticker.oscilacao.toFixed(2) }} %</p>
              </div>
            </div>
          </div>
          <h2>Ontem</h2>
          <div class="row">
            <div class="col-12">
              <div class="quadrado">
                <p>Total Negociado: {{ total.toLocaleString('pt-BR') }}BTC</p>
                <p>Preço Médio: {{precoMedio.toLocaleString('pt-BR')}}</p>
              </div>
            </div>
          </div>
          <h1>Litecoin</h1>
          <h2>Hoje</h2>
          <div class="row">
            <div class="col-4">
              <div class="quadrado">
                <p> Volume Total de Venda: {{ orderbookLitecoin.venda.total.toLocaleString('pt-BR') }}</p>
                <p> Volume Total de Compra: {{ orderbookLitecoin.compra.total.toLocaleString('pt-BR') }}</p>
                <p>Total Vendas: R$ {{ orderbookLitecoin.compra.reais.toLocaleString('pt-BR') }}</p>
                <p>Total Compras: R$ {{ orderbookLitecoin.venda.reais.toLocaleString('pt-BR') }}</p>
              </div>
            </div>
            <div class="col-4">
              <div class="quadrado">
                <p> Total 20 compras: {{ parseFloat(orderbookLitecoin.compra.total20).toLocaleString('pt-BR') }}</p>
                <p> Total 20 vendas: {{ parseFloat(orderbookLitecoin.venda.total20).toLocaleString('pt-BR') }}</p>
                <p> Possivel ganho: {{ (((orderbookLitecoin.venda.ultimo*100) / orderbookLitecoin.compra.ultimo) - 100).toLocaleString('pt-BR') }}%</p>
                <p> Valor Ultima Negociação R$ {{ parseFloat(tickerLitecoin.ultimo).toLocaleString('pt-BR') }}</p>
              </div>
            </div>
            <div class="col-4">
              <div class="quadrado">
                <p>Maior venda do dia: R$ {{ parseFloat(tickerLitecoin.high).toLocaleString('pt-BR') }}</p>
                <p>Menor venda do dia: R$ {{ parseFloat(tickerLitecoin.low).toLocaleString('pt-BR') }}</p>
                <p>Oscilação: {{ tickerLitecoin.oscilacao.toFixed(2) }} %</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="quadrado">
                <p>Total Negociado: {{ totalLitecoin.toLocaleString('pt-BR') }}</p>
                <p>Preço Médio: {{precoMedioLitecoin.toLocaleString('pt-BR')}}</p>
              </div>
            </div>
          </div>
          <h1>BitcoinCash</h1>
          <h2>Hoje</h2>
            <div class="row">
            <div class="col-4">
              <div class="quadrado">
                <p> Volume Total de Venda: {{ orderbookCash.venda.total.toLocaleString('pt-BR') }}</p>
                <p> Volume Total de Compra: {{ orderbookCash.compra.total.toLocaleString('pt-BR') }}</p>
                <p>Total Vendas: R$ {{ orderbookCash.compra.reais.toLocaleString('pt-BR') }}</p>
                <p>Total Compras: R$ {{ orderbookCash.venda.reais.toLocaleString('pt-BR') }}</p>
              </div>
            </div>
            <div class="col-4">
              <div class="quadrado">
                <p> Total 20 compras: {{ parseFloat(orderbookCash.compra.total20).toLocaleString('pt-BR') }}</p>
                <p> Total 20 vendas: {{ parseFloat(orderbookCash.venda.total20).toLocaleString('pt-BR') }}</p>
                <p> Possivel ganho: {{ (((orderbookCash.venda.ultimo*100) / orderbookCash.compra.ultimo) - 100).toLocaleString('pt-BR') }}%</p>
                <p> Valor Ultima Negociação R$ {{ parseFloat(tickerCash.ultimo).toLocaleString('pt-BR') }}</p>
              </div>
            </div>
            <div class="col-4">
              <div class="quadrado">
                <p>Maior venda do dia: R$ {{ parseFloat(tickerCash.high).toLocaleString('pt-BR') }}</p>
                <p>Menor venda do dia: R$ {{ parseFloat(tickerCash.low).toLocaleString('pt-BR') }}</p>
                <p>Oscilação: {{ tickerCash.oscilacao.toFixed(2) }} %</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="quadrado">
                <p>Total Negociado: {{ totalCash.toLocaleString('pt-BR') }}</p>
                <p>Preço Médio: {{precoMedioCash.toLocaleString('pt-BR')}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
    
</template>
<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
export default {
  name: 'app',
  data () {
    
    return {
      msg: 'Welcome to Your Vue.js App',
      totalCash:0,
      precoMedioCash:0,
      tickerCash:{
        high: 0.0,
        low: 0.0,
        oscilacao:0,
        ultimo:0
      },
      orderbookCash:{
        compra: {
          total: 0,
          reais: 0,
          total20:0,
          ultimo:0
        }, 
        venda: {
          total: 0,
          reais: 0,
          total20:0,
          ultimo:0
        }
      },
      totalLitecoin: 0,
      precoMedioLitecoin: 0,
      tickerLitecoin:{
        high: 0.0,
        low: 0.0,
        oscilacao:0,
        ultimo:0
      },
      orderbookLitecoin:{
        compra: {
          total: 0,
          reais: 0,
          total20:0,
          ultimo:0
        }, 
        venda: {
          total: 0,
          reais: 0,
          total20:0,
          ultimo:0
        }
      },
      total:0,
      precoMedio:0,
      ticker:{
        high: 0.0,
        low: 0.0,
        oscilacao:0,
        ultimo:0
      },
      orderbook:{
        compra: {
          total: 0,
          reais: 0,
          total20:0,
          ultimo:0
        }, 
        venda: {
          total: 0,
          reais: 0,
          total20:0,
          ultimo:0
        }
      }
    }
  },
  // methods () {
  //   function numberToReal(numero) {
  //       var numero = numero.toFixed(2).split('.');
  //       numero[0] = "R$ " + numero[0].split(/(?=(?:...)*$)/).join('.');
  //       return numero.join(',');
  //   }
  // },
  created () {

    //----------------------------------------------------BITCOIN--------------------------------------------------------------
    this.$http.get('https://www.mercadobitcoin.net/api/BTC/ticker/')
    .then(response => response)
    .then(response => (this.ticker.high = response.body.ticker.high,
      this.ticker.low = response.body.ticker.low,
      this.ticker.oscilacao = ((response.body.ticker.high * 100)/response.body.ticker.low) - 100,
      this.ticker.ultimo = response.body.ticker.last)
    )

    this.$http.get('https://www.mercadobitcoin.net/api/BTC/orderbook/')
      .then(response => response.body.bids)
      .then(response => {
        this.orderbook.compra.ultimo = response[0][0];
        for (let i=0; i<response.length; i++) {
          this.orderbook.compra.total = response[i][1] + this.orderbook.compra.total;
          this.orderbook.compra.reais  = response[i][0] * response[i][1] + this.orderbook.compra.reais ;
        }
        for (let k=0; k<20; k++) {
          this.orderbook.compra.total20 = response[k][1] + this.orderbook.compra.total20;
        }
      })

    this.$http.get('https://www.mercadobitcoin.net/api/BTC/orderbook/')
      .then(response => response.body.asks)
      .then(response =>{
        this.orderbook.venda.ultimo = response[0][0];
        for (let i=0; i<response.length; i++) {
          this.orderbook.venda.total = response[i][1] + this.orderbook.venda.total;
          this.orderbook.venda.reais = response[i][0] * response[i][1] + this.orderbook.venda.reais;
        }
        for (let k=0; k<20; k++) {
          this.orderbook.venda.total20 = response[k][1] + this.orderbook.venda.total20;
        }
      })
      var data = new Date();
     this.$http.get('https://www.mercadobitcoin.net/api/BTC/day-summary/'+data.getFullYear()+'/'+(data.getMonth()+1)+'/'+(data.getDate()-1)+'/')
      .then(response => response.body)
      .then(response => (this.total = response.quantity,
        this.precoMedio = response.avg_price)
      )
    //----------------------------------------------------LITECOIN--------------------------------------------------------------
    
    this.$http.get('https://www.mercadobitcoin.net/api/LTC/ticker/')
    .then(response => response)
    .then(response => (this.tickerLitecoin.high = response.body.ticker.high,
      this.tickerLitecoin.low = response.body.ticker.low,
      this.tickerLitecoin.oscilacao = ((response.body.ticker.high * 100)/response.body.ticker.low) - 100,
      this.tickerLitecoin.ultimo = response.body.ticker.last)
    )

    this.$http.get('https://www.mercadobitcoin.net/api/LTC/orderbook/')
      .then(response => response.body.bids)
      .then(response => {
        this.orderbookLitecoin.compra.ultimo = response[0][0];
        for (let i=0; i<response.length; i++) {
          this.orderbookLitecoin.compra.total = response[i][1] + this.orderbookLitecoin.compra.total;
          this.orderbookLitecoin.compra.reais  = response[i][0] * response[i][1] + this.orderbookLitecoin.compra.reais ;
        }
        for (let k=0; k<20; k++) {
          this.orderbookLitecoin.compra.total20 = response[k][1] + this.orderbookLitecoin.compra.total20;
        }
      })

    this.$http.get('https://www.mercadobitcoin.net/api/LTC/orderbook/')
      .then(response => response.body.asks)
      .then(response =>{
        this.orderbookLitecoin.venda.ultimo = response[0][0];
        for (let i=0; i<response.length; i++) {
          this.orderbookLitecoin.venda.total = response[i][1] + this.orderbookLitecoin.venda.total;
          this.orderbookLitecoin.venda.reais = response[i][0] * response[i][1] + this.orderbookLitecoin.venda.reais;
        }
        for (let k=0; k<20; k++) {
          this.orderbookLitecoin.venda.total20 = response[k][1] + this.orderbookLitecoin.venda.total20;
        }
      })
      var data = new Date();
     this.$http.get('https://www.mercadobitcoin.net/api/LTC/day-summary/'+data.getFullYear()+'/'+(data.getMonth()+1)+'/'+(data.getDate()-1)+'/')
      .then(response => response.body)
      .then(response => (this.totalLitecoin = response.quantity,
        this.precoMedioLitecoin = response.avg_price)
      )
    //---------------------------------------------------BitcoinCash-----------------------------------------------------------

    this.$http.get('https://www.mercadobitcoin.net/api/BCH/ticker/')
    .then(response => response)
    .then(response => (this.tickerCash.high = response.body.ticker.high,
      this.tickerCash.low = response.body.ticker.low,
      this.tickerCash.oscilacao = ((response.body.ticker.high * 100)/response.body.ticker.low) - 100,
      this.tickerCash.ultimo = response.body.ticker.last)
    )

    this.$http.get('https://www.mercadobitcoin.net/api/BCH/orderbook/')
      .then(response => response.body.bids)
      .then(response => {
        this.orderbookCash.compra.ultimo = response[0][0];
        for (let i=0; i<response.length; i++) {
          this.orderbookCash.compra.total = response[i][1] + this.orderbookCash.compra.total;
          this.orderbookCash.compra.reais  = response[i][0] * response[i][1] + this.orderbookCash.compra.reais ;
        }
        for (let k=0; k<20; k++) {
          this.orderbookCash.compra.total20 = response[k][1] + this.orderbookCash.compra.total20;
        }
      })

    this.$http.get('https://www.mercadobitcoin.net/api/BCH/orderbook/')
      .then(response => response.body.asks)
      .then(response =>{
        this.orderbookCash.venda.ultimo = response[0][0];
        for (let i=0; i<response.length; i++) {
          this.orderbookCash.venda.total = response[i][1] + this.orderbookCash.venda.total;
          this.orderbookCash.venda.reais = response[i][0] * response[i][1] + this.orderbookCash.venda.reais;
        }
        for (let k=0; k<20; k++) {
          this.orderbookCash.venda.total20 = response[k][1] + this.orderbookCash.venda.total20;
        }
      })
      var data = new Date();
     this.$http.get('https://www.mercadobitcoin.net/api/BCH/day-summary/'+data.getFullYear()+'/'+(data.getMonth()+1)+'/'+(data.getDate()-1)+'/')
      .then(response => response.body)
      .then(response => (this.totalCash = response.quantity,
        this.precoMedioCash = response.avg_price)
      )

  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #CCC;
}
body{
    background-color: #13232f;
}

.quadrado {
  background:#252636;
  padding: 10px;
  max-width:300px;
  height: 160px;
  margin:40px;
  border-radius:4px;
  box-shadow:0 1px 5px 1px rgba(#252636,.3);
  float: left;
}

h1{
  text-align: center;
}
h2{
  text-align: center;
}
</style>
